/* Estructura general */
header, main, footer {
  max-width: var(--max);
  margin: 0 auto;
  padding: 1rem;
}

header {
  background: var(--c-dark);
  color: var(--c-light);
}

header h1 {
  margin: .5rem 0;
  font-size: 1.8rem;
}

section {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  background: var(--c-light);
  border-radius: var(--radius);
  margin-bottom: 1rem;
}

section h2 {
  margin-top: 0;
}

/* Nav con flex */
header > nav ul {
  list-style: none;
  padding: 0;
  margin: .5rem 0 1rem;
  display: flex;
  gap: .75rem;
  flex-wrap: wrap;
}

/* Adyacente: separación entre enlaces */
nav a + a {
  margin-left: .25rem;
}
